.usage-type-list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 13px;
}

.usage-type-lst-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}