.product-lst-container {
    padding: 15px 13px;
    background-color: white;
    overflow: hidden;
    position: relative;
    height: auto;
}

.product-lst-content {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}